| !{people.count}
| !{people.moment(Date.now()).format('MM/DD/YYYY')}
each person in people.data
 | !{person.FirstName}!{'|'}!{person.LastName}!{'|'}!{person.Address}!{'|'}!{person.City}!{'|'}!{person.State}!{'|'}!{person.Zip}!{'\r\n'}
- var n = 0
while n < 4
 | !{'Value'}!{n++}
- for (var i = 0; i < 10; i++)
 if (i > 5)
  | !{'>5 \r\n'}
 else
  | !{'<=5 \r\n'}
